{% extends 'base.html.twig' %}

{% block title %}New Club{% endblock %}

{% block body %}
    <h1>Create new Club</h1>

    {{ include('club/_form.html.twig') }}

    <a href="{{ path('club_index') }}">back to list</a>
{% endblock %}
